@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191221;
    z-index: 20;
}

#start-button {
    margin: 8px;
    height: 48px;
    font-size: 18px;
    font-family: "Space Grotesk";
    border-radius: 12px;
    background-color: #362447;
    color: white;
    border: none;
}

#start-button:hover {
    background-color: #5a3b77;
    color: white;
}

.loading-container {
    width: 360px;
    height: 600px;
    /* border: 2px solid #be63f9; */
    display: flex;
    flex-direction: column;
}

.loading-icon {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-icon img {
    width: 256px;
    height: 256px;
}

.loading-container h2 {
    color: white;
    font-size: 22px;
    font-family: "Space Grotesk";
    font-weight: 600;
    text-align: center;
    margin: 16px;
}

.loading-container p {
    color: white;
    font-size: 16px;
    font-family: "Space Grotesk";
    font-weight: 400;
    text-align: left;
    margin: 8px;
    margin-bottom: 22px;
}

.loadingbar-container {
    margin: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: left;
}

.loadingbar-container progress{
    width: 100%;
    height: 8px;
    -webkit-appearence:none;
    background-color: #4D3366;
    border-radius: 4px;
}

.loadingbar-container progress::-webkit-progress-bar{
    background-color: #4D3366;
    border-radius: 4px;
}

.loadingbar-container progress::-webkit-progress-value{
    background-color: #801AE5;
    border-radius: 4px;
}

.loadingbar-container progress::-moz-progress-bar{
    background-color: #801AE5;
    border-radius: 4px;
}

.loadingbar-container p{
    margin: 0;
    color: #AD94C7;
    font-size: 14px;
}