@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black url(/resources/images/loading.gif) no-repeat center center;
    background-size: 25%;
    background-size: 25vmin;
    z-index: 20;
    box-sizing: border-box;
    padding: 20px;
}

#start-button {
    width: 100%;
    height: 48px;
    color: white;
    font-size: clamp(18px, 3.2vw, 24px);
    font-family: "Space Grotesk";
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: #CF4647;
    border-bottom: 4px solid #902829;
    transition: 0.2s all ease-in-out;
    margin: 0;
}

#start-button:hover {
    transform: translateY(4px);
    border-bottom: 2px solid #902829;
}

.loading-container {
    width: 100vw;
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
}

.loading-icon {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-icon img {
    width: 256px;
    height: 256px;
}

.loading-container h2 {
    color: #F5D061;
    font-size: clamp(48px, 3.2vw, 72px);
    font-family: "Syne";
    font-weight: 700;
    text-align: left;
    vertical-align: bottom;
    margin: 0;
}

.loading-container p {
    color: white;
    font-size: clamp(18px, 2.2vw, 24px);
    font-family: "Space Grotesk";
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.loadingbar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
}

.loadingbar-container progress{
    width: 100%;
    height: 8px;
    -webkit-appearence:none;
    background-color: #902829;
    border-radius: 4px;
}

.loadingbar-container progress::-webkit-progress-bar{
    background-color: #902829;
    border-radius: 4px;
}

.loadingbar-container progress::-webkit-progress-value{
    background-color: #CF4647;
    border-radius: 4px;
}

.loadingbar-container progress::-moz-progress-bar{
    background-color: #CF4647;
    border-radius: 4px;
}

.loadingbar-container p{
    color: #d36161;
    font-size: clamp(12px, 2.2vw, 16px);
    margin: 0;
}

/* @media (min-aspect-ratio: 1/1) {
    .loading-icon {
        width: 100%;
        height: 40vh;
        align-items: center;
        justify-content: center;
    }
    
    .loading-icon img {
        width: 75%;
        height: 75%;
    }

    .loading-container h2 {
        margin: 0;
    }

    .loading-container p {
        margin: 4vh 0 4vh 0;
    }

    .loadingbar-container p {
        margin: 0;
    }
} */