@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px;
}

*::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background-color: #dcb749;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #ffd556;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #ffd556;
}

body {
    background: black;
    /* disable touch function */
          -webkit-touch-callout: none; /* Safari */
            -webkit-user-select: none; /* Chrome */     
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; 
}

.webgl {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}

#sky {
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 100dvw;
    height: 100dvh; */
    transform: translate(-50%, -50%);
    outline: none;
    background-size: cover;
    background-position: center;
}

.cache {
    display: none;
}

.touch-inputs {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 5dvh;
    width: 100dvw;
    justify-content: right;
    z-index: 10;
}

.button-container {
    display: flex;
    margin: 16px;
    margin-right: 32px;
    padding: 16px;
    gap: 6vmin;
    justify-content: center;
    border-radius: 12px;
}

.button-flex {
    height: fit-content;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.control-button {
    width: 16vmin;
    max-width: 60px;
    height: 16vmin;
    max-height: 60px;
    display: flex;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    outline: none;
    transition: all ease-in-out 0.2s;
}

#leftButton {
    background-image: url('/resources/images/left.svg');
    background-size: cover;
}

#rightButton {
    background-image: url('/resources/images/right.svg');
    background-size: cover;
}

.talkbubble {
    position: relative;
    width: calc(100vw - 60px);
    min-width: 300px;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;

    color: white;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    /*white*/
    /* color: black;
    background: white; */

    transform: translateY(calc(-50% + 20px));
    pointer-events: none;
    opacity: 0;
}

.talkbubble #triangle {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -16px;
    border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    left: calc(50% - 8px);
	border-top: 16px solid rgba(0, 0, 0, 0.3);

    /*white*/
    /* border-top: 24px solid white; */
}

.talkbubble-badge {
    position: fixed;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    transform: translate(50%, -50%);
    background-color: white;
}

.talkbubble-badge lottie-player {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
}

.talkbubble-message {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.talkbubble-message p {
    margin: 4px;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.talkbubble-social {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.talkbubble-social a {
    height: 40px;
    width: 40px;
}

.talkbubble-social lottie-player {
    height: 100%;
    width: 100%;
}

.gallery {
    height: 22dvh;
    width: 100%;
    margin-top: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: 8px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.art {
    height: 100%;
    border-radius: 8px;
    padding-bottom: 4px;
    box-sizing: border-box;
    overflow: hidden;
}

.art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project {
    height: 100%;
    border-radius: 8px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-link {
    position: absolute;
    display: flex;
    left: 8px;
    bottom: 8px;
    width: calc(100% - 16px) ;
    height: 30px;
    align-items: center;
    justify-content: center;

    background: #dcb749;
    border-radius: 6px;
    border-bottom: 4px solid #ab903f;
    
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.project-link span {
    padding: 4px;
    color: white;
    font-style: italic;
    font-weight: 700;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-link:hover {
    transform: translateY(4px);
    border-bottom: 2px solid #ab903f;
}

.highlight {
    color: white;
    text-decoration: none;
    background: #CF4647;
    padding: 0 4px 0 4px;
    margin: 0;
    border-radius: 4px;
    font-weight: 700;
}

.hidden {
    display: none;
}